body {
    background-size: cover;
    background-repeat: repeat-y;
    background-color: rgb(0, 168, 181);
    
    color: white;
    
    font-family: cursive;
    font-size: medium;
    
}
.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
   
.menu {
    
    overflow: hidden;
    background-color: rgb(28, 34, 37);
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu a {
    
    float: right;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.menu3 {
    overflow: hidden;
    background-color: rgb(13, 15, 17);
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px 16px;
    
}
.menu2 {
    overflow: hidden;
    background-color: rgb(13, 15, 17);
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu2 a {
    
    float: right;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}




.menu a:hover {
    
    background-color:  rgb(0, 168, 181);
    transform: scale(1.1);
    transition: 1s;
    display: inline-block;
    overflow: hidden;
}
.menu2 a:hover {
    
    background-color: rgb(0, 168, 181);
    transform: scale(1.1);
    transition: 1s;
    display: inline-block;
    overflow: hidden;
}
.dropdown {
    text-align: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    text-align: left;
    font-size: 20px;    
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
}

.menu a:hover, .dropdown:hover .dropbtn  {
    
    
    transform: scale(1.1);
    transition: 1s;
    display: inline-block;
    overflow: hidden;
}

.dropdown-content {
    
    display: inherit;
    text-align: left;
    position: absolute;
    background-color: rgb(13, 15, 17);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(245, 248, 248, 0.957);
    z-index: 1;
    
    
    
}

.dropdown-content a {
    text-align: center;
    float: inline-start;
    color: rgb(0, 168, 181);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    
}

.dropdown-content a:hover {
    background-color: rgb(0, 168, 181);
}

.dropdown:hover .dropdown-content {
    display: block;
    
   
}
.button {
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    transition: all .1s;
    transition-delay: .1s;
    }
    .button:hover {
    cursor: pointer;
    }
    .menuContent {
        
        background-color: rgb(13, 15, 17);
        font-weight: 1000;

    }
    .left {
        width: 70%;
        min-height: 120px;
        text-decoration: solid;
        font-size: 1.1rem;
        text-align: left;
        margin: left 2cm;;
        }
    .right {
        width: 30%;
        min-height: 90px;
        float: right;
        margin-left: 5px;
        margin-right: 20px;
    }
    .image {
            transition: 1.3s; /* Время перехода */
           }
    .image:hover {
            transform: scale(1.7); /* Увеличиваем масштаб */
           }
    .footer1 {
        
        display: grid;
        
        width:  33,3333%;
        text-align: left;
        background: rgb(28, 34, 37);
        color: #fff;
        font-size: 70%;
        padding: 5px; clear : both;
        text-decoration: solid;
        font-size: 1.1rem;
        
        }
    .footer1  a {
            color: white;
            text-align: left;
            margin-left: 2cm;
            }
            
    .footer1 a:hover {color:  rgb(0, 168, 181);transform: scale(1.1);
        transition: 1s;
        display: inline-block;
        overflow: hidden;}
    .footer1 p {padding: 2px;text-align: center;}
                
    .clearfloat {clear: both;}

    .footer2 {
        display: grid;
        width:  33,3333%;
        text-align: center;
        background: rgb(28, 34, 37);
        color: #fff;
        font-size: 70%;
        padding: 5px; clear : both;
        text-decoration: solid;
        font-size: 1.1rem;

    }
    .footer3 {
        display: grid;
        width: 33,3333%;
        text-align: center;
        background: rgb(28, 34, 37);
        

    }
  